<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet">

        <style media="screen">
        html {
          min-height: 100%;
          position: relative;
        }
        body {
          margin: 0;
          margin-bottom: 40px;
        }
        footer {
          background-color: black;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 40px;

        }
        </style>

    </head>
    <body>
      <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Business Casual</div>
      <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <div class="container">
          <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('tapas_homepage') }}">Home 
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('tapas_mostrar') }}">Mostrar Tapas</a>
              </li>
              <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('tapas_crear') }}">Crear Tapas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



        <!-- Contenido -->
        <div class="container">

          <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
              <strong>{% block titular %}{% endblock %}</strong>
            </h2>
            <hr class="divider">
            <div class="row">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
        <!-- /.container -->
        <footer class="bg-faded text-center py-5">
          <div class="container">
            <p class="m-0">Copyright &copy; Your Website 2017</p>
          </div>
        </footer>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
